/** MODULE: NO INSERTA EL SCSS, PERÒ PUC FER US DE LES SEVES VARIABLES, MIXINS I EXTENDS **/
@import "modul";

/** PARTIAL:  INSERTA EL SCSS AQUI **/
@import "parcial";

/*** MIXIN ***/

@mixin coloreja_i_subratlla($color, $estil) {
  color: $color;
  text-decoration: $estil;
}

/** EXTEND **/ 
%display-flex {
  display: flex;
  flex-direction: column;
}

/*** (1) VARIABLES ***/

$color1: white;
$color2: green;
$valor: 400px;

/*** NESTING ***/
/*** MIXIN, OPERACIONS  ***/

.contenidor {

  @extend %display-flex;

  background-color: $secondary-color;
  border: $color_border solid $gruix_border;
  height: $valor*1.2;
  width: $valor*0.8;
  &> div {
    font-size: 1.5rem;
    padding: $valor/40 + 5;
    @include coloreja_i_subratlla($color1, underline);

    span {
      font-size: 2em;
      background-color: $color2;
      padding: 5px 10px;
    }
  }
}
