/** MODULE: NO INSERTA EL SCSS, PERÒ PUC FER US DE LES SEVES VARIABLES, MIXINS I EXTENDS **/
@import 'modul';

/** PARTIAL:  INSERTA EL SCSS AQUI **/
@import '_parcial';

/*** MIXIN ***/

@mixin estil_de_font($color, $decoracio, $estil, $mida) {
  color: $color;
  text-decoration: $decoracio;
  font-style: $estil;
  font-size: $mida;
}

/** EXTEND **/
%display-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid blue;
}

/*** (1) VARIABLES ***/

$color1: white;
$color2: yellow;
$valor: 400px;

/*** NESTING ***/
/*** MIXIN, OPERACIONS  ***/

.contenidor {
  @extend %display-flex;

  background-color: $secondary-color;
  border: $color_border solid $gruix_border;
  height: $valor;
  width: $valor * 0.8;
  .item {
    @extend %display-flex;

    font-size: 2.5rem;
    padding: calc($valor/40);
    @include estil_de_font(yellow,underline, italic, 0.7rem);

    span {
      font-size: 2em;
      background-color: $color2;
      padding: 5px 10px;
      &:hover {
        color: red;
      }
    }
  }
}
