/**  px  **/
* {
    font-size: 15px;
}

main, div {
    padding: 10px 15px;
}

/**  px  **/
main {
    background-color: aquamarine;
    font-size: 30px;
}

/**  em  **/
#div1 {
    background-color: aqua;
    font-size: 2em;
}

/**  rem  **/
#div2 {
    background-color: cadetblue;
    font-size: 2rem;
}

/** vh  **/
#div_vh {
    width: 500px;
    background-color: cadetblue;

    height: 25vh;
}

/** vw  **/
#div_vw {
    height: 200px;
    background-color: chartreuse;

    width: 25vw;
}

/** vmax  **/
#div_vmax {
    background-color: chocolate;
    height: 100px;

    width: 50vmax;
}

/** vmin  **/
#div_vmin {
    background-color: blue;
    height: 100px;

    width: 50vmin;
}

