.container {
    display:flex;
    background-color: grey;
    margin-bottom: 20px;;
}


/*
Flex-grow tells our element whether or not it can take up additional space.

1) If only one item in the container is using "flex-grow", this item takes all the available space
*/

#container_1 div:first-child {
    background-color:orange;
    flex-grow:1;
}
#container_1 div:nth-child(2) {
    background-color:aqua;
}


/*
If more than 1 item uses "flex-grow" in a container,
    - The values of the flex-grow properties are added --> in this example, 2+3 = 5 
    - The item takes 2/5 of the available space;  the second item takes 3/5 of available space.
*/
#container_2 div:first-child {
    background-color:orange;
    flex-grow:2;
}
#container_2 div:nth-child(2) {
    background-color:aqua;
    flex-grow:3;
}

/*
An element with flex-grow:0 will not try to take available space. 
*/

